@import "../../assets/css/utils";
li {
  overflow: hidden;
  margin-top: px2rem(10px);
}

.wrap {
  background: rgb(245, 245, 249);
  display: flex;
  margin: px2rem(10px) px2rem(20px);
  ul {
    flex: 1;
    margin-left: px2rem(20px);
    overflow: hidden;
    .info {
      margin-top:px2rem(14px);
      height: px2rem(40px);
      font-size: px2rem(26px);
      line-height:px2rem(40px);
      color: #828282;
      width: calc(100% - 20px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

  }
}
.seniority{

  width: 100vw;

}